<li>

    <div id="company-name" class="iv-container-details">
        <p>
            <%= interview.company_name %>
        </p>

        <a href="/interview/delete-interview/<%= interview._id %>">
            <i class="fa-solid fa-user-minus"></i>
        </a>
    </div>

    <div class="iv-container-details">
        <p>
            Date:
        </p>

        <div>
            <%= interview.date %>
        </div>
            
    </div>

    <div id="view-total">
        <a href="/interview/show-details/<%= interview._id %>">Total candidate are <%= interview.students.length %></a>
    </div>

</li>   