<li>

    <div id="stud-name" class="stud-container-details">
        <p>
            <%= student.name %>
        </p>

        <a href="/students/delete-student/<%= student._id %>">
            <i class="fa-solid fa-user-minus"></i>
        </a>
    </div>

    <div id="stud-batch" class="stud-container-details">
        <p>
            Batch:
        </p>

        <div>
            <%= student.batch %>
        </div>
            
        
    </div>

    <div id="stud-scores">
        <p>
            Scores
        </p>

        <div class="stud-mark">
            
            <div>
                <b>DSA:</b>
            </div>
                

            <div>
                <%= student.courseMarks[0] %>
            </div>
                

        </div>

        <div class="stud-mark">
            <div>
                <b>FE:</b>
            </div>
                
            <div>
                <%= student.courseMarks[1] %> 
            </div>
            
        </div>

        <div class="stud-mark">
            <div>
                <b>BE:</b>
            </div>
            
            <div>
                <%= student.courseMarks[2] %>
            </div>
            
        </div>
                
    </div>

    <div id="stud-status" class="stud-container-details">
        <p>
            Status:
        </p>

        <div>
            <%= student.status %>
        </div>
            
        
    </div>

    <div id="view-edit">
        <a href="/students/show-details/<%= student._id %>">View</a>
        <a href="/students/edit-details/<%= student._id %>">Edit</a>
    </div>
</li>