<link rel="stylesheet" href="/css/interview_profile.css">

<div id="iv-profile-container">
    

    <form action="/interview/edit-details/<%= interview._id%>" method="post">

        
        <div id="iv-details">

            <h2>Interview Details</h2>

            <div class="input-box">
                <input type="text" name="name" value="<%= interview.company_name%>" required="required" disabled>
                <span>Company Name</span>
            </div>
    
            <div class="input-box">
                <input type="text" name="interview_date" value="<%= interview.date%>" required="required" disabled>
                <span>Date</span>
            </div>
        </div>
        

        <div id="selected-stud">
            <% if(interview.students.length > 0) { %>

                <h2>Applied Students</h2>

                <% for(student of interview.students) { %>
                    <div class="input-box">
                        <input type="text" name="name" value="<%= student.student.name%>" required="required" disabled>
                        <span>Name</span>
                    </div>

                    <div class="input-box">
                        <input type="text" name="status" value="<%= student.result%>" required="required" disabled>
                        <span>Current Status</span>
                    </div>

                    <div class="input-box">
                        <select name="status"  name="status-<%= student.student._id %>" required>
                            <option value="">Select Status</option>
                            <option name="placed" value="Placed">Placed</option>
                            <option name="notPlaced" value="Not Placed">Not Placed</option>
                        </select>
                    </div>
                <% } %>

            <% } %>

        </div>

        <input type="submit" value="Update Details">
    </form>
</div>