<link rel="stylesheet" href="/css/student_profile.css">

<div id="stud-profile-container">
    
    <div id="stud-details">

        <h2>Student Details</h2>

        <div class="stud-show">
            <div class="disp-tag">Name:</div>
            <div class="disp-name"><%= student.name %></div>
        </div>
    
        <div class="stud-show">
            <div class="disp-tag">Email:</div>
            <div class="disp-name"><%= student.email %></div>
        </div>

        <div class="stud-show">
            <div class="disp-tag">Batch:</div>
            <div class="disp-name"><%= student.batch %></div>
        </div>

        <div class="stud-show">
            <div class="disp-tag">Status:</div>
            <div class="disp-name"><%= student.status %></div>
        </div>
    
        <div id="stud-marks">

            <div class="stud-show">
                <div class="disp-tag">DSA Marks:</div>
                <div class="disp-name"><%= student.courseMarks[0] %></div>
            </div>

            <div class="stud-show">
                <div class="disp-tag">FE Marks:</div>
                <div class="disp-name"><%= student.courseMarks[1] %></div>
            </div>

            <div class="stud-show">
                <div class="disp-tag">BE Marks:</div>
                <div class="disp-name"><%= student.courseMarks[2] %></div>
            </div>
        
        </div>
    </div>

    <div id="iv-details">
        <% if(student.interview) { %>
            <h2>Applied companies</h2>
    
            <% for(interview of student.interview) { %>

                <div id="iv-view">

                    <div class="stud-show">
                        <div class="disp-tag">Company Name:</div>
                        <div class="disp-name"><%= interview.company_name%></div>
                    </div>
    
                    <div class="stud-show">
                        <div class="disp-tag">Date:</div>
                        <div class="disp-name"><%= interview.date %></div>
                    </div>

                </div>
                
            <% } %>
    
    
        <% } %>
    </div>
</div>